body{font-size: 14px;
line-height: 1.43;

text-rendering: optimizeLegibility !important;
-webkit-font-smoothing: antialiased !important;}


.navbar{text-trans form: capitalize;
font-family: 'PT Sans Narrow',Arial,sans-sherif;
font-weight: 700;



}

h4
{
	font-family:"Abril Fatface", ;
}
.a
{
	margin-top:-80px;
}
.navbar-dark
{
	background: #222222;
}

.navbar-collapse a:hover
{
	background-color: black;
	color: white;
}

.navbar .navbar-brand 
{
	color:#CD3B56;
}
.navbar .navbar-brand:hover
{
	background-color: black;
	color:#ffd148;
}
.btn-warning 
{
	width: 95px;
	font-size: 12px;
}

.head .btn-warning
{
	font-size: 20px;
	margin-left: 15px;

}
.head{background-image: url("img/LOGO.png");
width: 100%;
height: 600px;
padding: 30px 0 30px;
background-position: center;
background-repeat: no-repeat;
color:white;
margin-top: 1px;
font-family: 'Open Sans', sans-serif;
	}

.head h1
{
	 font-size: 40px;
	 font-weight: 700;
	 padding-top: 30px;
	 color:#CD3B56;

}

.lead
{
	color:#CD3B56;
	font-size: 25px;
}

.action
{
	text-align: center;

}

#action
{
	border: solid 1.5px #CD3B56; 
	width: 1px;
	padding-left: 60px;
	margin-left: 700px;
}



.newsletter {
padding: 80px 0;

}

.newsletter .content {
max-width: 650px;
margin: 0 auto;
text-align: center;
position: relative;
z-index: 2; }
.newsletter .content h2 {
color: #243c4f;
margin-bottom: 40px; }
.newsletter .content .form-control {
height: 50px;
border-color: silver;
border-radius:4%;

background-color: silver;
}
.newsletter .content.form-control:focus {
box-shadow: none;
border: 2px solid #243c4f;


}
.newsletter .content .btn {
min-height: 50px; 
border-radius:0;
background: green;
color: #fff;
font-weight:600;
margin-left: 10px;
border-radius: 5%;
}


.foot p {color: silver;
	text-align: justify;

}



h5
{
	margin-left:100px;
}


.list-unstyled
{
	margin-left:50px;
}

.avatar .col-md-6
{
	margin-left: 60px;
}

.list-unstyled i
{
	color:#CD3B56;
}

.foot
{
	background-color:#222222;
	margin-top: 180px;
	padding-top: 70px;
	
}


#row2 h6
{
	color:white;
}


#btnf
{
	background-color: #CD3B56;
}